li{
    padding: 3px;
    font-size: 0.8em;
}

.divItemC{
    border: solid;
    border-width: 1px;
    border-color: #C9C9C9;
}

.divTop{
    height: 20px;
    line-height: 20px;
    background-color: #C9C9C9;
}

p{
    font-size: 0.8em;
    display: inline-block;
    margin: 0 15px 0 22px;
    font-weight:bold;
    vertical-align: middle;
}

.itemA:link {
    color: #009dda;
    text-decoration: none;
    margin: 0 10px 0 0;
}
.itemA:visited {
    color: #009dda;
    text-decoration: none;
    margin: 0 10px 0 0;
}
.itemA:hover {
    color: #08639C;
    text-decoration: none;
    margin: 0 10px 0 0;
}