body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:570px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:277px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:112px;
  width:760px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:743px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:760px;
  height:1px;
}
#u3 {
  position:absolute;
  left:20px;
  top:224px;
  width:765px;
  height:95px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:95px;
  top:0px;
  width:95px;
  height:30px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:190px;
  top:0px;
  width:95px;
  height:30px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:285px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:380px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:475px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:570px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:665px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:30px;
  width:95px;
  height:30px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:95px;
  top:30px;
  width:95px;
  height:30px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:190px;
  top:30px;
  width:95px;
  height:30px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:285px;
  top:30px;
  width:95px;
  height:30px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:380px;
  top:30px;
  width:95px;
  height:30px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:475px;
  top:30px;
  width:95px;
  height:30px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:570px;
  top:30px;
  width:95px;
  height:30px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:665px;
  top:30px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:60px;
  width:95px;
  height:30px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:95px;
  top:60px;
  width:95px;
  height:30px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:190px;
  top:60px;
  width:95px;
  height:30px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:285px;
  top:60px;
  width:95px;
  height:30px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:380px;
  top:60px;
  width:95px;
  height:30px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:475px;
  top:60px;
  width:95px;
  height:30px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:570px;
  top:60px;
  width:95px;
  height:30px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:665px;
  top:60px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:20px;
  top:10px;
  width:53px;
  height:18px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:73px;
  top:8px;
  width:200px;
  height:22px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u54_input:disabled {
  color:grayText;
}
#u55 {
  position:absolute;
  left:295px;
  top:8px;
  width:200px;
  height:22px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u55_input:disabled {
  color:grayText;
}
#u56 {
  position:absolute;
  left:277px;
  top:10px;
  width:14px;
  height:18px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:505px;
  top:10px;
  width:66px;
  height:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:575px;
  top:8px;
  width:200px;
  height:22px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u60_input:disabled {
  color:grayText;
}
#u61 {
  position:absolute;
  left:20px;
  top:40px;
  width:53px;
  height:18px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:73px;
  top:38px;
  width:200px;
  height:22px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u63_input:disabled {
  color:grayText;
}
#u64 {
  position:absolute;
  left:20px;
  top:199px;
  width:760px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:743px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:760px;
  height:1px;
}
#u65 {
  position:absolute;
  left:20px;
  top:152px;
  width:120px;
  height:18px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:166px;
  top:152px;
  width:138px;
  height:18px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:18px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:331px;
  top:152px;
  width:131px;
  height:18px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:20px;
  top:127px;
  width:120px;
  height:18px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:166px;
  top:127px;
  width:138px;
  height:18px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:18px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:331px;
  top:127px;
  width:131px;
  height:18px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:295px;
  top:42px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:360px;
  top:37px;
  width:169px;
  height:25px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u80 {
  position:absolute;
  left:539px;
  top:40px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:605px;
  top:37px;
  width:170px;
  height:25px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u83 {
  position:absolute;
  left:20px;
  top:70px;
  width:100px;
  height:30px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:140px;
  top:70px;
  width:100px;
  height:30px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:331px;
  top:177px;
  width:131px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
