body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:90px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:90px;
}
#u1 {
  position:absolute;
  left:2px;
  top:37px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:49px;
  top:20px;
  width:25px;
  height:25px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:718px;
  top:20px;
  width:25px;
  height:25px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:74px;
  top:28px;
  width:644px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:627px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:3px;
  width:644px;
  height:4px;
}
#u7 {
  position:absolute;
  left:253px;
  top:20px;
  width:25px;
  height:25px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:499px;
  top:20px;
  width:25px;
  height:25px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:23px;
  top:55px;
  width:79px;
  height:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:239px;
  top:55px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:485px;
  top:55px;
  width:53px;
  height:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:660px;
  top:55px;
  width:118px;
  height:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:0px;
  top:185px;
  width:800px;
  height:654px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:654px;
}
#u20 {
  position:absolute;
  left:2px;
  top:319px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:9px;
  top:219px;
  width:780px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:763px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:780px;
  height:1px;
}
#u22 {
  position:absolute;
  left:9px;
  top:194px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:95px;
  top:194px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:94px;
  top:216px;
  width:65px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:48px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:3px;
  width:65px;
  height:5px;
}
#u27 {
  position:absolute;
  left:9px;
  top:299px;
  width:780px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:763px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:780px;
  height:1px;
}
#u28 {
  position:absolute;
  left:9px;
  top:239px;
  width:66px;
  height:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:9px;
  top:269px;
  width:66px;
  height:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:9px;
  top:319px;
  width:53px;
  height:18px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:0px;
  top:99px;
  width:800px;
  height:76px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:76px;
}
#u35 {
  position:absolute;
  left:2px;
  top:30px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:11px;
  top:105px;
  width:481px;
  height:22px;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:22px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:10px;
  top:134px;
  width:100px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
