body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:580px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:580px;
}
#u1 {
  position:absolute;
  left:2px;
  top:282px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:796px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:50px;
  width:50px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:60px;
  width:97px;
  height:45px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:45px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:10px;
  top:105px;
  width:780px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:763px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:780px;
  height:1px;
}
#u9 {
  position:absolute;
  left:245px;
  top:165px;
  width:310px;
  height:45px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:45px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:245px;
  top:250px;
  width:100px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:360px;
  top:250px;
  width:100px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
