body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:6px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:91px;
  top:6px;
  width:73px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:185px;
  top:6px;
  width:73px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:67px;
  width:800px;
  height:105px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:105px;
}
#u9 {
  position:absolute;
  left:2px;
  top:44px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:67px;
  width:120px;
  height:105px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:105px;
}
#u11 {
  position:absolute;
  left:2px;
  top:44px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:130px;
  top:71px;
  width:177px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:373px;
  top:110px;
  width:53px;
  height:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:130px;
  top:121px;
  width:115px;
  height:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:0px;
  top:29px;
  width:805px;
  height:33px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:28px;
  font-size:12px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:28px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:350px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:354px;
  top:0px;
  width:86px;
  height:28px;
  font-size:12px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:440px;
  top:0px;
  width:76px;
  height:28px;
  font-size:12px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:516px;
  top:0px;
  width:141px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:28px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:657px;
  top:0px;
  width:143px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:28px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:139px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:459px;
  top:110px;
  width:40px;
  height:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:530px;
  top:113px;
  width:116px;
  height:14px;
  font-size:12px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:14px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:0px;
  top:182px;
  width:800px;
  height:105px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:105px;
}
#u34 {
  position:absolute;
  left:2px;
  top:44px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:182px;
  width:120px;
  height:105px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:105px;
}
#u36 {
  position:absolute;
  left:2px;
  top:44px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:130px;
  top:186px;
  width:177px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:373px;
  top:225px;
  width:53px;
  height:18px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:130px;
  top:236px;
  width:115px;
  height:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:18px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:459px;
  top:225px;
  width:40px;
  height:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:530px;
  top:228px;
  width:116px;
  height:14px;
  font-size:12px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:14px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:674px;
  top:228px;
  width:116px;
  height:14px;
  font-size:12px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:14px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
